* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "pretendard", 'Noto Sans KR', sans-serif;
    color: black;
}

a {
    color: inherit;
}
.blind {
    display: none;
}
