:root{
    --color-main :#265c4b;
    --color-sub : #589a8d;
    --color-point : #0ab481;
}
header .hamburger {
    display: none;
}
section .sub-banner {
    width: 100%;
    height: 380px;
    background-image: url(../images/sub/bg_img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
section .sub-banner #text1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
}
section .sub-nav {
    height: 57px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.sub-nav-box {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 19px 0;
}

.sub-nav-box a {
    color: #666;
    font-size: 15px;
    font-family: "Pretendard Medium", "Noto Sans KR", sans-serif;
}
.home_icon {
    width: 16px;
    vertical-align: middle;
}
.next_icon {
    width: 12px;
    margin-left: 46px;
    margin-right: 30px;
    vertical-align: middle;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
#page_news .page_news_wrap .news_top_text {
    animation: fade-out 1s ease-in-out;
    transition: transform 3s;
    overflow: hidden;
}
#page_news .page_news_wrap .news_top_text h5{
    color: var(--color-point);
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 400;
}
#page_news .page_news_wrap .news_top_text h2 {
    font-weight: 600;
    margin-bottom: 50px;
    font-size: 36px;
}
#page_news .page_news_wrap nav h2 {
    font-size: 0;
}
#page_news .page_news_wrap #news_tap_list {
    background-color: #f7f8fb;
    box-shadow: -8px -8px 16px 0 #fff ,
    8px 8px 16px 0 rgba(0,0,0,0.1);
}
#page_news .page_news_wrap nav #news_tap_ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#page_news .page_news_wrap nav #news_tap_ul li {
    width: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    background-color: #f8f8f8;
    border: 1px solid rgba(0,0,0,0.05);
    border-radius: 0;
}
#page_news .page_news_wrap nav #news_tap_ul li a{
    padding:10px 78px;
}
#page_news .page_news_wrap nav #news_tap_ul li:hover {
    background-color: var(--color-point);
    transition: background-color 0.4s;
    
}
#page_news .page_news_wrap nav #news_tap_ul li#first_li {
    color: white;
    font-family:'pretendard-Bold';
    border: 1px solid var(--color-point);
    background-color: var(--color-point);
}
#page_news .page_news_wrap nav #news_tap_ul li:hover {
    background-color: var(--color-point);
    color: white;
    font-family:'pretendard-Bold';
}
#page_news .page_news_wrap #list_total {
    padding: 10px 0;
}
#page_news .page_news_wrap #list_total span{
    font-size: 15px;
}
#page_news .page_news_wrap #list_total span b{
    color: var(--color-point);
}
#page_news .page_news_wrap .info_list {
    border-top: 1px solid rgba(0,0,0,0.5);
    margin-bottom: 180px;
}
#page_news .page_news_wrap .info_list #info_list_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page_news .page_news_wrap .info_list #info_list_ul li {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    width: 1200px;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq{
    max-width: 1200px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq .question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: -0.2px;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq .answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.8s ease-in-out;
    padding-left: 164px;
    padding-top: 20px;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq.active .answer{
    max-height: 350px;
    animation: fade 0.2s ease;
    transition: max-height 1.8s ease-in-out;
    padding-top: 20px;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq.active .answer #displaynone {
    display: none;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq .answer p{
    padding-top: 10px;
    line-height: 1.6;
    max-height: 350px;
    letter-spacing: -0.2px;
    animation: fade 0.1s ease-in-out;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq .answer:nth-child(2){
    animation: fade 0.2s ease-in-out;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq.active .answer:nth-child(2){
    animation: fade 0.2s ease-in-out;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq.active .answer p{
    padding-top: 10px;
    line-height: 1.6;
    max-height: 350px;
    letter-spacing: -0.2px;
    animation: fade 0.1s ease-in-out;
}
#page_news .page_news_wrap .info_list #info_list_ul li .faq.active .img_wrap{
    transform: rotate(180deg);
}
#page_news .page_news_wrap .info_list #info_list_ul li div #info_tap_mini {
    margin-left: 20px;
    margin-right: 106px;
    padding:5px 11px;
    border: none;
    box-sizing: border-box;
}
#page_news .page_news_wrap .info_list #info_list_ul li div #info_tap_mini a span{
    font-size: 22px;
    font-weight: 500;
    color: #0ab481;
    font-weight: bold;
}
#page_news .page_news_wrap .info_list #info_list_ul li div .main_text_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 988px;
}
#page_news .page_news_wrap .info_list #info_list_ul li div p.main_text{
    font-size: 18px;
    width: 736.35px;
    height: 21px;
    font-weight: 600;
}
#page_news .page_news_wrap .info_list #info_list_ul li div > p {
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    margin-right: 20px;
}
#page_news .page_news_wrap .info_list #info_list_ul li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px 0;
}

@keyframes fade {
    from{
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fade-out {
    from{opacity: 0;
        transform: translateY(20px);
      }
      to {opacity: 1;
        transform: translateY(0px);
      }
  }

@media screen and (max-width:368px) {
    .container {
        width: 368px;
    }
    header {
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        z-index: 0;
    }
    header:hover {
        display: none;
    }
    header .logo{
        display: flex;
        outline: 1px solid red;
    }
    header .logo .show{
        display: block;
        position: absolute;
    }
    header .logo span::after {
        content: "\2261";
        width: 100%;
        font-size: 38px;
        height: 100%;
        display: block;
        text-align: center;
        border: 1px solid white;
        background: #000;
        position: relative;
        top: px;
    }
    
    header .logo .show p{
        height: 30px;
        width: 30px;
        position: absolute;
        top: -2px;
        left: 156px;
    }
    header .logo .show p span {
        width: 34px;
        height: 34px;
        display: block;
    }
    /* header .logo .show p span::after {
        content: "\2261";
        width: 100%;
        font-size: 38px;
        height: 100%;
        display: block;
        text-align: center;
        border: 1px solid white;
    } */

    header .logo{
        position: absolute;
        left: 0;
        border: 1px solid orange;
        padding-left: 10px;
    }   
    /* header nav {
        flex-wrap: wrap;
        display: block;
        display: flex;
        flex-direction: column;
    } */
    header .icon {
        display: none;
    }
    .container .page_news_wrap .news_top_text {
        text-align: center;
    }
    .container .page_news_wrap #news_tap_list #news_tap_ul{
        display: block;
    }
    #page_news .page_news_wrap nav #news_tap_ul li {
        width: 100%;
    }

}